<ion-view view-title="Edit Article" cache-view="false">

    <!-- <ion-nav-bar class="bar-stable">
    </ion-nav-bar> -->

    <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-android-arrow-back" ng-click="back_article_list()">
              </button>
    </ion-nav-buttons>
    <ion-content padding="true">
        <form ng-submit="Edit_art(Id, Name, Description, Amount, NumberOfPages)">
        <!-- <p ng-model="Id" ng-show="sss">{{Id}}</p> -->
            <label class="item item-input item-stacked-label">
                                <span class="input-label">Article Name</span>
                                <input type="text" placeholder="Article Name" maxlength="30" data-ng-minLength="1" ng-model="Name">
            </label>

            <label class="item item-input item-stacked-label">
                                <span class="input-label">Description</span>
                                <input type="text" placeholder="Description" maxlength="30" data-ng-minLength="1" ng-model="Description">
            </label>

            <!-- <label class="item item-input item-stacked-label">
                                <span class="input-label">Category Name</span>
                                <input type="text" placeholder="Category Name" maxlength="30" data-ng-minLength="1" ng-model="Data.CategoryId.Name">
            </label> -->

            <label class="item item-input item-stacked-label">
                                <span class="input-label">Amount</span>
                                <input type="text" placeholder="Amount" maxlength="30" data-ng-minLength="1" ng-model="Amount">
            </label>

            <label class="item item-input item-stacked-label">
                                <span class="input-label">Number Of Pages</span>
                                <input type="text" placeholder="Number of Pages" maxlength="30" data-ng-minLength="1" ng-model="NumberOfPages">
            </label>
            <br>
            <button class="button button-block button-positive" type="submit" style="background-color: #0074ce;">
                            Submit
                        </button>
            </div>
        </form>
    </ion-content>
</ion-view>