<ion-view view-title="Reach us">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>

    <ion-content padding="true"  style="color: #000;">
     
        <!-- <div id="map_canvas">
            <ui-gmap-google-map center="map.center" zoom="map.zoom" draggable="true" options="options">
                <ui-gmap-markers models="markers" coords="'self'" icon="'icon'" click="onMarkerClick">
                    <ui-gmap-windows show="show">
                        <div ng-non-bindable>{{content}}</div>
                    </ui-gmap-windows>
                </ui-gmap-markers>
            </ui-gmap-google-map> 
        </div> -->
            <div>                
                <div class="card" col=>
                    <center>&nbsp;&nbsp; <i class="icon ion-android-compass">&nbsp; Reach Us &nbsp;&nbsp;&nbsp;</i></center>
                </div>
                
                <div class="card">
                    &nbsp;&nbsp;<i class="icon ion-ios-telephone"> &nbsp; 9924525388 &nbsp;</i><br/>
                    &nbsp;&nbsp;<i class="icon ion-android-pin"> &nbsp; Akshar Infoware, &nbsp; <br/>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Mota bazar opposite Post office, &nbsp;<br/> 
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Near Motabazar Circle, &nbsp;<br/> 
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Vallabh Vidya Nagar, &nbsp;<br/>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Anand, Gujarat &nbsp;</i><br/>      
                </div>    
            </div>
             

    </ion-content>
</ion-view>