<ion-view title="Edit User" ng-init="GetUser()">
      <!-- <ion-nav-bar class="bar-stable">
      </ion-nav-bar> -->

          <!-- <ion-nav-buttons side="left">
              <button class="button button-icon button-clear ion-android-arrow-back" ng-click="back_profile()">
              </button>
  
          </ion-nav-buttons> -->
  
  <ion-content padding="true">

    <form ng-submit="edit_user(UserId, UserName, FirstName, LastName, BirthDate, Email, Phone, Mobile, Street1, Street2
     , City, State, Country, PinCode)">

    
        <h3>Profile Edit</h3>

        
          <p>{{userId}}</p>   

         
        <label class="item item-input item-stacked-label">
          <span class="input-label">First Name</span>
  	      <input type="text" placeholder="First Name" maxlength="30" data-ng-minLength="1" ng-model="FirstName">
        </label>

        <label class="item item-input item-stacked-label">
           <span class="input-label">Last Name</span>
    	     <input type="text" placeholder="Last Name" maxlength="30" data-ng-minLength="1" ng-model="LastName">
        </label>

        <!--<label class="item item-input item-stacked-label">
           <span class="input-label">Email</span>
    	     <input type="email" placeholder="Email" maxlength="30" data-ng-minLength="1" ng-model="Email">
        </label> -->
          <!--<p ng-show="Email"></p>-->

        <label class="item item-input item-stacked-label">
            <span class="input-label">Phone</span>
            <input type="tel" placeholder="Phone" ng-model="Phone">
        </label>

         <label class="item item-input item-stacked-label">
            <span class="input-label">Mobile</span>
            <input type="tel" placeholder="Mobile" ng-model="Mobile">
          </label>

          <label class="item item-input item-stacked-label">
          <span class="input-label">Street1</span>
            <input type="text" placeholder="Street1" maxlength="80" data-ng-minLength="1" ng-model="Street1"> 
          </label>

          <label class="item item-input item-stacked-label">
          <span class="input-label">Street2</span>
            <input type="text" placeholder="Street2" maxlength="80" data-ng-minLength="1" ng-model="Street2"> 
          </label>

         <label class="item item-input item-stacked-label">
         <span class="input-label">City</span>
         <input type="text" placeholder="City" maxlength="30" data-ng-minLength="1" ng-model="City">
         </label>

         <label class="item item-input item-stacked-label">
          <span class="input-label">State</span>
          <input type="text" placeholder="State" maxlength="30" data-ng-minLength="1" ng-model="State">
          </label>

          <label class="item item-input item-stacked-label">
          <span class="input-label">Contry</span>
            <input type="text" placeholder="Country" maxlength="30" data-ng-minLength="1" ng-model="Country">
          </label>

          <label class="item item-input item-stacked-label">
          <span class="input-label">PinCode</span>
            <input type="text" placeholder="PinCode" maxlength="6" data-ng-minLength="6" ng-model="PinCode">
          </label>

	       
	           <button class="button button-block button-positive" type="submit" style="background-color: #0074ce;">
  		           UPDATE
	           </button>
             <div class="buttons">
                <a href="#/app/client_dashboard" class="button button-block button-dark">Cancel</a>
             </div>
	       
  
    </form>
  </ion-content>
</ion-view>