<ion-view title="Reset Your Password" hide-back-button="true">

    <ion-nav-bar class="bar-stable">
      
      </ion-nav-bar>

          <ion-nav-buttons side="left">
    
              <button class="button button-icon button-clear ion-android-arrow-back" ng-click="back_forgot()">
              </button>
  
          </ion-nav-buttons>

<ion-content class="background" style="color: #000;"  padding= "true">

<br><br><br>
  <form name="authorizationForm" novalidate="" ng-submit="ResetPassword(password)">         
           
    <label class="item item-input item-floating-label">
    <span class="input-label">Password</span>
    <input type="password" ng-model="password" placeholder="Reset Password">
  </label>
      
  
      <center>
          <button class="button button-block button-balanced" type="submit" style="background-color: #0074ce;">
         RESET
        </button>
      </center>

  
</form>


        </ion-content>
</ion-view>